body {
    /* background-color: goldenrod; */
    margin: 0px;
    box-sizing: border-box;
    background: rgb(136, 130, 130);
    color: white;
}

.center {
    text-align: center;
}
p.center{
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 400px;
    margin: 50px auto;
    outline: 2px solid rgb(136, 130, 130);
    outline-offset: -2px;

    /* border-color: transparent; */
}

.square {
    /* place-items: center; */
    border: 1px solid;
    font-size: 2em;
    height: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;

}
.square:hover{
    background-color: rgb(179, 220, 250);
    cursor: pointer;
    font-size: 2.2em;
    transition: all .4s  ease-in-out;
}
#display-el{
   font-size: 30px;
}