body {
    /* background-color: goldenrod; */
    margin: 0px;
    box-sizing: border-box;
    background: whitesmoke;
}

.title {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 400px;
    margin: 50px auto;
    outline: 2px solid whitesmoke;
    outline-offset: -2px;


    /* border-color: transparent; */
}

.square {
    /* place-items: center; */
    border: 1px solid;
    font-size: 2em;
    height: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;

}